<ion-view view-title="Tasks">
    <ion-content>

        <div class="list card">
            <div class="item item-divider">To do</div>
            <div class="item item-text-wrap" ng-repeat="item in model.tasks.toDo">{{item}}</a></div>

            <div class="item item-divider">Doing</div>
            <div class="item item-text-wrap" ng-repeat="item in model.tasks.doing">{{item}}</a></div>

            <div class="item item-divider">Done</div>
            <div class="item item-text-wrap" ng-repeat="item in model.tasks.done">{{item}}</a></div>
        </div>

        <div class="list list-inset">
            <div class="item item-divider">New task</div>

            <label class="item item-input">
                <input type="text" placeholder="Write new task">
            </label>

            <button class="button button-block button-dark">Add task</button>
        </div>

    </ion-content>
</ion-view>
